@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i&display=swap');

/* IMPORT FONTS */
@font-face {
  font-family: 'HankenGrotesk';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Hanken Grotesk Extra Light'),
    local('HankenGrotesk-ExtraLight'),
    url(/fonts/HankenGrotesk/HankenGrotesk-ExtraLight.woff2) format('woff2'),
    url(/fonts/HankenGrotesk/HankenGrotesk-ExtraLight.woff) format('woff'),
    url(/fonts/HankenGrotesk/HankenGrotesk-ExtraLight.eot) format('eot');
}

@font-face {
  font-family: 'HankenGrotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Hanken Grotesk Medium'),
    local('HankenGrotesk-Medium'),
    url(/fonts/HankenGrotesk/HankenGrotesk-Medium.woff2) format('woff2'),
    url(/fonts/HankenGrotesk/HankenGrotesk-Medium.woff) format('woff'),
    url(/fonts/HankenGrotesk/HankenGrotesk-Medium.eot) format('eot');
}

@font-face {
  font-family: 'HankenGrotesk';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Hanken Grotesk Black'),
    local('HankenGrotesk-Black'),
    url(/fonts/HankenGrotesk/HankenGrotesk-Black.woff2) format('woff2'),
    url(/fonts/HankenGrotesk/HankenGrotesk-Black.woff) format('woff'),
    url(/fonts/HankenGrotesk/HankenGrotesk-Black.eot) format('eot');
}

@font-face {
  font-family: 'ogg';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Ogg/Ogg-Roman.otf) format('opentype');
}


@tailwind base;
@tailwind components;

/* purgecss start ignore */

.transition {
  transition: .25s ease-in-out;
}

.transition.long {
  transition: .5s ease-in-out;
}

/* LAZY IMAGE STYLES */
.v-lazy-image {
  filter: blur(4px);
  transition: filter .2s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}

@variants hover, group-hover {
  .translate-r-2 {
    transform: translateX(0.5rem);
  }

  .translate-t-2 {
    transform: translateY(-0.5rem);
  },

  .scale {
    transform: scale(1.2);
  }
}

.no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}

.pt-separation {
  @apply pt-20;
}

.pb-separation {
  @apply pb-20;
}

.py-separation {
  @apply py-20;
}

.px-container {
  @apply px-8;
}

@screen sm {
  .px-container {
    @apply px-10;
  }
}

@screen md {
  .px-container {
    @apply px-12;
  }
}

@screen lg {
  .px-container {
    @apply px-16;
  }
}

@screen xl {
  .px-container {
    @apply px-20;
  }
}

.loading {
  position: relative;
  @apply opacity-50 cursor-not-allowed;
}

.loading::after {
  cursor: not-allowed;
  content: '';
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7rem;
  width: 7rem;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.loading::before {
  cursor: not-allowed;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: inherit;
  overflow: hidden;
  border-radius: 6px;
}

.loading::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwcHgiICBoZWlnaHQ9IjIwMHB4IiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiIGNsYXNzPSJsZHMtZHVhbC1yaW5nIiBzdHlsZT0iYmFja2dyb3VuZDogbm9uZTsiPjxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLXdpZHRoPSJ7e2NvbmZpZy53aWR0aH19IiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuc3Ryb2tlfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgcj0iMjAiIHN0cm9rZS13aWR0aD0iNiIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtZGFzaGFycmF5PSIzMS40MTU5MjY1MzU4OTc5MyAzMS40MTU5MjY1MzU4OTc5MyIgdHJhbnNmb3JtPSJyb3RhdGUoNzkuNjIyNCA1MCA1MCkiPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBjYWxjTW9kZT0ibGluZWFyIiB2YWx1ZXM9IjAgNTAgNTA7MzYwIDUwIDUwIiBrZXlUaW1lcz0iMDsxIiBkdXI9IjEuNXMiIGJlZ2luPSIwcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiPjwvYW5pbWF0ZVRyYW5zZm9ybT48L2NpcmNsZT48L3N2Zz4=');
}
/* purgecss end ignore */

@tailwind utilities;
